<div class= "form-group row"></div>
<div class= "form-group row">
  <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
  <div class="col-sm-6">
    <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" />
  </div>

</div>


<!-- <input type="text" [(ngModel)]="searchValue"> -->
<!-- <div ng-repeat="let item of countryList | searchFilter:searchTerm"> {{item.name}} {{item.description}}</div> -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Items | searchfilter:searchValue">
      <td scope="col">{{item.Name}}</td>
      <td scope="col">{{item.Description}}</td>

      <!-- <td scope="col">{{item.categories[0].name}}</td>
      <td scope="col">{{item.title}}</td>
      <td scope="col">{{item.description}}</td> -->
    </tr>
  </tbody>
</table>
